<div class="container Fondo">
    <a href="" class="btn btn-primary">Atras</a>
    <div class="Centrar">

    </div>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <form [formGroup]="">
                        <div class="form-group">
                            <label for="">Usuario:</label>
                            <input type="text" class="form-control" placeholder="Usuario" #usuario>
                        </div>
                        <div class="form-group">
                            <label for="">Ciudad:</label>
                            <input type="text" class="form-control" placeholder="Cualquier ciudad del planeta" #ciudad>
                        </div>
                        <button class="btn btn-primary" (click)="submitLocation(ciudad)" (click)="guardarDatos(usuario, ciudad)">Obtener clima</button>
                        <button class="btn btn-primary" (click)="submitLocation(ciudad)" (click)="getAll()">Ver consultas</button>
                    </form>
                    <br>
                    <div *ngFor="let item of listaClimasConsultados" class="form-group">
                        <div>
                            <label for=""> {{item.usuario}} &nbsp; </label>
                            <label for=""> {{item.fecha}} &nbsp; </label>
                            <label for=""> {{item.ciudad}} </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div *ngIf="weather" class="card card-body">
                    <p>País: {{weather.sys.country}} </p>
                    <p>Temperatura: {{weather.main.temp}} °F </p>
                    <p>Longitud: {{weather.coord.lat}} </p>
                    <p>latitud: {{weather.coord.lon}} </p>
                    <p>Humedad: {{weather.main.humidity}} </p>
                    <p>Presión: {{weather.main.pressure}} </p>
                    <p>Descripción: {{weather.weather[0].description}} </p>
                </div>
            </div>
        </div>
    </div>

</div>