<div class="container Fondo">
    <a href="" class="btn btn-primary">Atras</a>
    <br><br><br><br>
    <div class="Centrar">
        <button data-toggle="modal" data-target="#modalPlay" class="btn btn-primary btn-lg btn-block" data-whatever="@getbootstrap">Jugar</button>
        <fieldset>
            Consultas:
            <button data-toggle="modal" data-target="#modalConsulta1" class="btn btn-primary btn-lg btn-block" data-whatever="@getbootstrap">Numero de veces que ha perdido un jugador</button>
            <button data-toggle="modal" data-target="#modalConsulta2" class="btn btn-primary btn-lg btn-block" data-whatever="@getbootstrap">Cantidad de juegos Almacenados</button>
            <button data-toggle="modal" data-target="#modalConsulta3" class="btn btn-primary btn-lg btn-block" data-whatever="@getbootstrap">Ha ganado más juegos</button>
        </fieldset>

    </div>

</div>

<app-triquiplaymodal></app-triquiplaymodal>
<app-numerodeperdidas></app-numerodeperdidas>
<app-cantidadjuegos></app-cantidadjuegos>
<app-campeon></app-campeon>