<div class="container Fondo">
    <a href="Triqui" class="btn btn-primary">Atras</a>
    <font id="maquina" color="white" size="4px" face="times new roman">
        {{jugadorActual}}
    </font>
    <br><br>

    <table class="table">

        <tr>
            <td>
                <tr>
                    <td>
                        <font color="white" size="4px" face="times new roman">
                            Código del Juego:
                        </font>
                    </td>
                    <td>
                        <font color="white" size="6px" face="times new roman" id="code">
                            2
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="white" size="4px" face="times new roman">
                            Nombre:
                        </font>
                    </td>
                    <td>
                        <font color="white" size="4px" face="times new roman" id="name">
                            {{jugadorActual}}

                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="white" size="4px" face="times new roman">
                            Juego:
                        </font>
                    </td>
                    <td>
                        <font color="white" size="6px" face="times new roman" id="juego">
                            --
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="white" size="4px" face="times new roman">
                            fecha:
                        </font>
                    </td>
                    <td>
                        <font color="white" size="6px" face="times new roman" id="date">
                            hoy
                        </font>
                    </td>
                </tr>
            </td>
            <td>
                <div class="tictactoe">
                    <div class="row">
                        <button style="background-color:slategray" id="cell-0-0" data-row="0" data-column="0" class="cell">X</button>
                        <button style="background-color:slategray" id="cell-0-1" data-row="0" data-column="1" class="cell">X</button>
                        <button style="background-color:slategray" id="cell-0-2" data-row="0" data-column="2" class="cell">O</button>
                    </div>
                    <div class="row">
                        <button style="background-color:slategray" id="cell-1-0" data-row="1" data-column="0" class="cell"></button>
                        <button style="background-color:slategray" id="cell-1-1" data-row="1" data-column="1" class="cell"></button>
                        <button style="background-color:slategray" id="cell-1-2" data-row="1" data-column="2" class="cell"></button>
                    </div>
                    <div class="row">
                        <button style="background-color:slategray" id="cell-2-0" data-row="2" data-column="0" class="cell"></button>
                        <button style="background-color:slategray" id="cell-2-1" data-row="2" data-column="1" class="cell"></button>
                        <button style="background-color:slategray" id="cell-2-2" data-row="2" data-column="2" class="cell"></button>
                    </div>
                </div>
            </td>

        </tr>

    </table>

</div>