<div class="container Fondo">
    <a href="Triqui" class="btn btn-primary">Atras</a>
    <font id="maquina" color="white" size="4px" face="times new roman">
        Me: "X" --- Máquina: "O"
    </font>
    <br><br>

    <table class="table">

        <tr>
            <td>
                <tr>
                    <td>
                        <font color="white" size="4px" face="times new roman">
                            Código del Juego:
                        </font>
                    </td>
                    <td>
                        <font color="white" size="6px" face="times new roman" id="code">
                            2
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="white" size="4px" face="times new roman">
                            Nombre:
                        </font>
                    </td>
                    <td>
                        <font color="white" size="6px" face="times new roman" id="name">
                            me
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="white" size="4px" face="times new roman">
                            Juego:
                        </font>
                    </td>
                    <td>
                        <font color="white" size="6px" face="times new roman" id="juego">
                            --
                        </font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="white" size="4px" face="times new roman">
                            fecha:
                        </font>
                    </td>
                    <td>
                        <font color="white" size="6px" face="times new roman" id="date">
                            hoy
                        </font>
                    </td>
                </tr>
            </td>
            <td>
                <div class="tictactoe">
                    <div class="row">
                        <button style="background-color:slategray" (click)="boton00()" id="cell-0-0" data-row="0" data-column="0" class="cell"></button>
                        <button style="background-color:slategray" (click)="boton01()" id="cell-0-1" data-row="0" data-column="1" class="cell"></button>
                        <button style="background-color:slategray" (click)="boton02()" id="cell-0-2" data-row="0" data-column="2" class="cell"></button>
                    </div>
                    <div class="row">
                        <button style="background-color:slategray" (click)="boton10()" id="cell-1-0" data-row="1" data-column="0" class="cell"></button>
                        <button style="background-color:slategray" (click)="boton11()" id="cell-1-1" data-row="1" data-column="1" class="cell"></button>
                        <button style="background-color:slategray" (click)="boton12()" id="cell-1-2" data-row="1" data-column="2" class="cell"></button>
                    </div>
                    <div class="row">
                        <button style="background-color:slategray" (click)="boton20()" id="cell-2-0" data-row="2" data-column="0" class="cell"></button>
                        <button style="background-color:slategray" (click)="boton21()" id="cell-2-1" data-row="2" data-column="1" class="cell"></button>
                        <button style="background-color:slategray" (click)="boton22()" id="cell-2-2" data-row="2" data-column="2" class="cell"></button>
                    </div>
                </div>
                <br><br><br><br>
                <button (click)="terminar()" class="btn btn-info btn-lg">Terminar</button>
            </td>

        </tr>

    </table>

</div>